@{
    ViewBag.Title = "Comportamento de Negócios";
}

<h2>Comportamento de Negócios</h2>

<div>
    <p>ID: @Model.Id</p>
    <p>Interações na Plataforma: @Model.InteracoesPlataforma</p>
    <p>Frequência de Uso: @Model.FrequenciaUso</p>
    <p>Feedback: @Model.Feedback</p>
    <p>Uso de Recursos Específicos: @Model.UsoRecursosEspecificos</p>
</div>
